<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div *ngIf="servicio.habilitarEcommerce">
            <nuevo-ecommerce></nuevo-ecommerce>
        </div>
        <div *ngIf="!servicio.habilitarEcommerce && !servicio.importarProductos">
            <lista-ecommerce></lista-ecommerce>
        </div>
        <div *ngIf="servicio.importarProductos">
            <importar-productos></importar-productos>
        </div>
        
        
    </div>
  </div>
</div>

